h5py >= 3.16, < 4
hydra-core >= 1.3, < 2
kagglehub >= 1.0, < 2
kornia >= 0.8, < 1
matplotlib
numpy
python-dotenv
pytorch-metric-learning >= 1.2, < 2
torch >= 2.11, < 3
torchvision >= 0.26, < 1
tqdm >= 4.67, < 5
juliacall >= 0.9, < 1
-e./deps/BlobBoards.jl/python
